@mixin calendar {
  .blue-calendar {
    background-color: $tertiary;
    button {
      color: white;
    }
    .react-calendar__month-view__weekdays {
      abbr {
        color: white;
      }
    }
  }
  .white-calendar {
    background-color: white;
    button {
      color: $primary;
    }
    .react-calendar__month-view__weekdays {
      abbr {
        color: $primary;
      }
    }
  }
  .react-calendar {
    font-family: $secondaryFont;
    width: 90%;
    max-width: 500px;
    border: 1px solid rgba($color: $primary, $alpha: 0.3);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    .react-calendar__tile--active{
      background-color: $tertiary;
      color: white !important;
    }
    button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 5px;
      cursor: pointer;
    }
    .react-calendar__navigation {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .react-calendar__month-view__weekdays {
      div {
        display: flex;
        justify-content: center;
      }
      abbr {
        text-decoration: none;
        padding: 5px;
      }
    }
    .react-calendar__month-view__days {
      margin-top: 10px;
      button {
        border: 1px solid rgba($color: $primary, $alpha: 0.1);
      }
      .react-calendar__month-view__days__day--neighboringMonth {
        opacity: 0.5;
        border: none;
      }
      .react-calendar__tile--now {
        color: red;
      }
    }
  }
}