@mixin todoSection {
  .todos-section{
    padding-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    border-right: 1px solid rgb(196, 196, 196);
    
    form{
      width: 90%;
      padding-top: 20px;
      margin: auto;
      display: flex;
      grid-gap: 10px;
      input[type=search] {
        width: 80%;
        font-family: $primaryFont;
        padding: 5px 10px;
        border: 1px solid $tertiary;
        outline: none;
        border-radius: 8px;
      }
      input[type=submit] {
        width: 20%;
        background-color: $tertiary;
        color: white;
        border: 1px solid $primary;
      }
    }
    .todos-dates{
      padding: 20px;
      flex: 1;
      overflow-y: auto;
    }
    ul{
      width: 100%;
      h2{
        font-family: $secondaryFont;
      }
      list-style-type: none;
      .todos-lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .important {
          color: $secondary !important;
          background-color: $quarternary !important;
          .date{
            background-color: $secondary !important;
            color: $quarternary;
          }
        }
        .currentReminder{
          transform: scale(1.1);
        }
        .todo{
          color: $ghostWhite;
          display: flex;
          height: 80px;
          width: 95%;
          background-color: $tertiary;
          margin: 10px 0;
          overflow: hidden;
          box-shadow: 1px 1px 6px 1px rgb(155, 155, 155);
          border-radius: 5px;
          .date {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary;

          }
          .todo-info {
            flex: 1;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}