@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$primary : #4f6ef7;
$secondary: #f4cea1;
$tertiary : #577ff9;
$quarternary: #fff3ea;
$ghostWhite: #f8f9fd;
$primaryFont: Mulish;
$secondaryFont: "Varela Round";