@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$primary : #4f6ef7;
$secondary: #f0b165;
$tertiary : #577ff9;
$quarternary: #fcdbc1;
$ghostWhite: #f8f9fd;
$primaryFont: Mulish;
$secondaryFont: "Varela Round";