@import "./calendar.scss";

@mixin weatherCalendar{
  .calendar-weather-details-section{
    flex: 2;
    display: flex;
    .calendar-weather-section {
      display: flex;
      flex-direction: column;
    }
    .calendar-weather-section{
      padding-top: 50px;
      background-color: $tertiary;
      flex: 1;
      .calendarSection{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: center;

        @include calendar;
        #createBtn {
          padding: 5px 10px;
          background-color: $secondary;
          color: white;
          width: 50%;
          min-width: 200px;
          margin: auto;
          text-align: center;
        }
      }
      .weather{
        display: flex;
        justify-content: center;
        align-items: center;
        .weather-detail {
          min-height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p, h2{
            color: white !important;
          }
          p{
            font-family: $primaryFont;
          }

          h2{
            font-family: $secondaryFont;
          }
          .temp {
            font-size: 2em;
          }
        }
        .weather-temp {
          display: flex;
          flex-direction: column;
        }
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
    
  }
}