@mixin weatherCalendar{
  .calendar-weather-details-section{
    flex: 2;
    display: flex;
    .calendar-weather-section {
      display: flex;
      flex-direction: column;
    }
    .calendar-weather-section{
      padding-top: 50px;
      background: rgb(87,127,249);
      background: linear-gradient(180deg, rgba(87,127,249,1) 0%, rgba(87,127,249,0.33406866164434523) 85%, rgba(255,255,255,1) 100%);
      flex: 1;
      .calendarSection{
        flex: 1;
        display: flex;
        align-items: center;
        padding: 20px;
      }
      .weather{
        display: flex;
        justify-content: center;
        align-items: center;
        .weather-detail {
          min-height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p, h2{
            color: white !important;
          }
          p{
            font-family: $primaryFont;
          }

          h2{
            font-family: $secondaryFont;
          }
          .temp {
            font-size: 2em;
          }
        }
        .weather-temp {
          display: flex;
          flex-direction: column;
        }
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
    
  }
}